* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

.hero {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

.modal-body {
  max-height: 400px;
  overflow-y: auto;
}
.foot {
  color: black;
  padding: 20px;
  text-align: center;
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
}

.foot p {
  margin-bottom: 10px;
}
